{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    {% tailwind_css %}
</head>
<body class="bg-gray-200 h-[100vh]">
    <div id='navbar' class="shadow-md h-[50px] p-2 mx-auto w-full flex flex-row justify-between bg-gradient-to-r from-green-300 to-transparent">
        <div class="opacity-0">
            <img src="{% static '/logo.png' %}" class="h-[50px] w-[50px]">
        </div>
        <div>
            <h2 class="items-center justify-center flex mx-auto font-serif font-extrabold text-2xl">Welcome to the Theatre of Dreams</h2>
        </div>
        <div class="flex flex-row justify-end my-auto items-center space-x-3 text-xl font-serif font-extrabold">
            <a href="#" class="hover:underline-offset-1 hover:text-green-500">Home</a>
            <a href="#" class="hover:underline-offset-1 hover:text-green-500">About</a>
            <a href="#" class="hover:underline-offset-1 hover:text-green-500">Services</a>
            <a href="#" class="hover:underline-offset-1 hover:text-green-500">Contact</a>
        </div>
    </div>
    <div id="form" class="border-1 w-[400px] h-[500px] mx-auto justify-center items-center rounded-lg mt-10 p-2 ">
        <div class="bg-transparent shadow-md m-2 p-5">
            <h2 class="text-2xl font-serif font-extrabold text-center">Login</h2>
            <!-- Login form -->
            <form class="flex flex-col justify-center items-center space-y-2">
                <input type="text" name="username" placeholder="Username" class=" outline-none rounded-md w-[300px] h-[50px] p-2">
                <input type="password" name="password" placeholder="Password" class=" outline-none rounded-md w-[300px] h-[50px] p-2">
                <input type="submit" name="submit" value="Login" class=" outline-none rounded-md w-[300px] h-[50px] p-2 bg-green-500 hover:bg-green-600 text-white font-bold">
            </form>
        </div>
    </div>
</body>
</html>